.product-list {
  .img-product {
    width: 69px;
    height: 69px;
    object-fit: cover;
  }

  .input-search {
    float: right;
    margin-bottom: 24px;
    width: 36%;
  }
}

.ant-space.ant-space-horizontal.ant-space-align-center {
  float: right;
}

.ant-form-item-control-input {
  width: 289px;

}

.flex .ant-form-item-control-input {
  width: 100%;
}

button[type=submit] {
  right: 0;
}
